/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* CSS file */
@namespace "library://ns.adobe.com/flex/spark";

@media (os-platform: "QNX") and (application-dpi: 160)
{
	ActionBar #titleDisplay
	{
		fontSize: 22;
		fontWeight: normal;
	}
	
	ActionBar Group#navigationGroup Button
	{
		fontWeight: normal;
	}
	
	ActionBar Group#actionGroup Button
	{
		fontWeight: normal;
	}
	
	ActionBar.beveled Group#navigationGroup Button
	{
		fontSize: 18;
	}
	
	ActionBar.beveled Group#actionGroup Button
	{
		fontSize: 18;
	}
	
	Button
	{
		fontWeight: normal;
	}
	
	ButtonBar
	{
		fontWeight: normal;
	}
	
	.iconItemRendererMessageStyle
	{
		fontSize: 16;
	}
	
	TabbedViewNavigator #tabBar
	{
		fontSize: 18;
	}
	
	global
	{
		fontSize: 18;
	}
}